<div class="settingBtns">
  <img class="setting" id="btnSettings" src="../Images/setting.png" alt="">
  <img class="fullScreen" src="../Images/fullScreen.png" alt="">
  <div class="toggleBtns">
    <img class="closeBtn" src="../Images/close.png" alt="">
    <img class="openBtn" src="../Images/open.png" alt="">
  </div>
</div>
<ul>
  <li><a href="/components/생산현황웰딩공정.html">생산현황 인쇄공정</a></li>
  <li><a href="/components/생산현황재단공정.html">생산현황 재단공정</a></li>
  <li><a href="/components/생산현황인쇄공정.html">생산현황 웰딩공정</a></li>
  <li><a href="/components/불량현황.html">불량현황</a></li>
  <li><a href="/components/재고현황.html">재고현황</a></li>
  <li><a href="/components/불량분석.html">불량분석</a></li>
  <li><a href="/components/재고분석.html">재고분석</a></li>
  <li><a href="/components/설비운전현황.html">설비운전현황</a></li>
  <li><a href="/components/생산현황.html">생산현황</a></li>
  <li><a href="/components/생산성분석.html">생산성분석</a></li>
  <li><a href="/components/매출분석.html">매출분석</a></li>
  <li><a href="/components/설비가동분석.html">설비가동분석</a></li>
  <li><a href="/components/작업현황인쇄공정.html">작업현황 인쇄공정</a></li>
  <li><a href="/components/작업현황재단공정.html">작업현황 재단공정</a></li>
  <li><a href="/components/작업현황웰딩공정.html">작업현황 웰딩공정</a></li>
  <li><a href="/components/입출고현황.html">입출고현황</a></li>
  <li><a href="/components/"></a></li>
  <li><a href="/components/"></a></li>
  <li><a href="/components/"></a></li>
  <li><a href="/components/"></a></li>
</ul>