<div class="menuTitleWorkDate">
  <div class="logo">
    <img src="/Images/top_logo_w.png" alt="">
  </div>
  <h1>생산현황 - 웰딩공정</h1>
  <div class="now"></div>
</div>
<div class="defectStatusContainer">
  <div class="graphWrap1">
    <p class="tableTitle">검사수량 대비 불량</p>
    <article><!--실 적량 대비 불량 그래프--></article>
  </div>
  <div class="graphWrap2">
    <p class="tableTitle">불량원인별 비율</p>
    <article><!--원부자재:불량원인별 분포 그래프--></article>
    <article><!--공정:불량원인별 분포 그래프--></article>
    <article><!--제품:불량원인별 분포 그래프--></article>
    <article><!--상품:불량원인별 분포 그래프--></article>
  </div>
</div>