<div class="menuTitleWorkDate">
  <div class="logo">
    <img src="/Images/top_logo_w.png" alt="">
  </div>
  <h1>생산현황 - 재단공정</h1>
  <div class="now"></div>
</div>
<div class="productInfo">
  <table class="productInfoTable">
    <tr>
      <td>품명</td>
      <td>호반 용접 2인용 슬라이드</td>
      <td style="width: 15%;">지시수량</td>
      <td style="width: 10%;">350</td>
      <td style="width: 15%;">달성율(%)</td>
      <td style="width: 10%; color: #f71f1f;">21.1</td>
    </tr>
  </table>
</div>
<div class="workStatusDetails">
  <div class="leftSideImage">
    <p>제품 or 지침서 Image</p>
    <img src="/Images/지침서예시.png" alt="">
  </div>
  <div class="rightSideWorkPerformance">
    <p>작업실적</p>
    <table class="rightSideWorkPerformanceTable">
      <thead>
        <tr>
          <th>품명</th>
          <th>누적실적</th>
          <th>이전실적</th>
          <th>당일실적</th>
          <th>달성율(%)</th>
          <th>불량율(%)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>(웰딩)슬라이드 2인용(중) 완공...</td>
          <td>74</td>
          <td></td>
          <td></td>
          <td>21.14</td>
          <td>0.00</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>