<div class="menuTitleWorkDate">
  <div class="logo">
    <img src="/Images/top_logo_w.png" alt="">
  </div>
  <h1>작업현황 - 웰딩공정</h1>
  <div class="now"></div>
</div>

<h2 class="pageTitle">라라비치 원형 쿠션보행기 65</h2>
<div class="wrapperTop">
  <div class="productImage">
    <p>제품 or 지침서 Image</p>
    <img src="/Images/지침서예시.png" alt="">
  </div>
  <div class="tableWrap2">
    <div class="record">
      <p class="tableTitle">지시대비실적</p>
      <table class="recordTable">
        <tr>
          <th>지시 수량</th>
          <td>350</td>
          <th>누적 수량</th>
          <td>420</td>
        </tr>
        <tr>
          <th>이전 생산 수량</th>
          <td>500</td>
          <th>금일 생산 수량</th>
          <td>300</td>
        </tr>
      </table>
    </div>
    <div class="inputMaterial">
      <table class="inputMaterialTable">
        <p class="tableTitle">투입 자재</p>
        <tr>
          <th>계정</th>
          <th>품명</th>
        </tr>
        <tr>
          <td>원재료</td>
          <td>PVC 0.25*140>아이보리 800</td>
        </tr>
        <tr>
          <td>부재료</td>
          <td>UV원색 잉크(청색)</td>
        </tr>
        <tr>
          <td>부재료</td>
          <td>UV원색 잉크(검색)</td>
        </tr>
        <tr>
          <td>부재료</td>
          <td>UV원색 잉크(적색)</td>
        </tr>
        <tr>
          <td>부재료</td>
          <td>UV원색 잉크(백색)</td>
        </tr>
        <tr>
          <td>부재료</td>
          <td>UV원색 잉크(황색)</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="wrapperDown">
  <div class="notice">
    <p class="tableTitle">전달 사항</ㅔ>
    <div class="noticeContents">
      <p>불볕 더위에 고생이 많습니다.</p>
      <p>인쇄공정은</p>
      <p>첫째, 즐겁게 즐기며</p>
      <p>둘째, 건강과 행복을 위하여</p>
    </div>
  </div>
  <div class="standbyItem">
    <p class="tableTitle">대기 품목</p>
    <table class="standbyItemTable">
      <tr>
        <th>인쇄 공정</th>
        <th>재단 공정</th>
        <th>웰딩 공정</th>
        <th>포장 공정</th>
      </tr>
      <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
      </tr>
      <tr>
        <td>aa</td>
        <td>bb</td>
        <td>cc</td>
        <td>dd</td>
      </tr>
      <tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
        <td>ddd</td>
      </tr>
    </table>
  </div>
</div>