<div class="menuTitleWorkDate">
  <div class="logo">
    <img src="/Images/top_logo_w.png" alt="">
  </div>
  <h1>재고분석</h1>
  <div class="now"></div>
</div>

<div class="stockAnalyzeContainer">
  <div class="wrapperTop">
    <div class="graph1">
      <p class="tableTitle">품목별 재고현황</p>
      <article><!--품목별 재고현황 그래프 --></article>
    </div>
    <div class="graph1">
      <p class="tableTitle">재고 회전율 추이</p>
      <article><!--재고 회전율 추이 그래프 --></article>
    </div>
  </div>
  <div class="wrapperDown">
    <div class="graph3">
      <p class="tableTitle">위험재고 TOP5</p>
      <article><!--위험재고 TOP5 그래프 --></article>
    </div>
    <div class="graph4">
      <p class="tableTitle">창고별 재고 분포</p>
      <article><!--창고별 재고 분포 그래프 --></article>
    </div>
  </div>
</div>