<div class="menuTitleWorkDate">
  <div class="logo">
    <img src="/Images/top_logo_w.png" alt="">
  </div>
  <h1>재고현황</h1>
  <div class="now"></div>
</div>
<div class="tableWrap">
  <p>납품현황</p>
  <table class="inventoryTable">
    <thead>
      <tr>
        <th>품번</th>
        <th>품명</th>
        <th class="num">입수</th>
        <th class="num">적정수량</th>
        <th class="num">현재고 BOX</th>
        <th class="num">출하지시 BOX</th>
        <th class="num">출하 BOX</th>
        <th class="num">부족 BOX</th>
        <th>재생산 여부</th>
      </tr>
    </thead>
    <tbody>
      <!-- 상단(노란 강조) -->
      <tr class="yellow">
        <td>225AW16L</td>
        <td>아라칸 하트 쿠션보행기(러브)</td>
        <td class="num">8</td>
        <td class="num">800</td>
        <td class="num"></td>
        <td class="num">140</td>
        <td class="num">60</td>
        <td class="num danger">80</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>525US87</td>
        <td>쿠로미 이중튜브87</td>
        <td class="num">8</td>
        <td class="num">800</td>
        <td class="num">6.3</td>
        <td class="num">80</td>
        <td class="num"></td>
        <td class="num danger">73.7</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>225SAM</td>
        <td>아라칸 스윔망</td>
        <td class="num">8</td>
        <td class="num">800</td>
        <td class="num">4</td>
        <td class="num">190</td>
        <td class="num">120</td>
        <td class="num danger">69.6</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>225SW14</td>
        <td>아라칸 플라워 쿠션보행기</td>
        <td class="num">12</td>
        <td class="num">1,200</td>
        <td class="num"></td>
        <td class="num">60</td>
        <td class="num"></td>
        <td class="num danger">60</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>525SV95</td>
        <td>아라칸 V1 부력보조복95kg</td>
        <td class="num">6</td>
        <td class="num">600</td>
        <td class="num"></td>
        <td class="num">60</td>
        <td class="num"></td>
        <td class="num danger">60</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>225AHT</td>
        <td>아라칸 하트 튜브(트윈콜)</td>
        <td class="num">8</td>
        <td class="num">800</td>
        <td class="num">1</td>
        <td class="num">100</td>
        <td class="num"></td>
        <td class="num danger">59.9</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>525AWDL</td>
        <td>아라칸 방수기저귀 L</td>
        <td class="num">60</td>
        <td class="num">6,000</td>
        <td class="num"></td>
        <td class="num">22</td>
        <td class="num">12</td>
        <td class="num danger">10</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>525V60X</td>
        <td>아라칸 V1 부력보조복60kg</td>
        <td class="num">10</td>
        <td class="num">1,000</td>
        <td class="num"></td>
        <td class="num">10</td>
        <td class="num"></td>
        <td class="num danger">10</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>525SKS1</td>
        <td>아라칸 스노클세트(시니어W1)</td>
        <td class="num">8</td>
        <td class="num">800</td>
        <td class="num"></td>
        <td class="num">15</td>
        <td class="num">10</td>
        <td class="num danger">5</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>225PS70</td>
        <td>포켓몬스터 손잡이튜브70</td>
        <td class="num">8</td>
        <td class="num">800</td>
        <td class="num"></td>
        <td class="num">4</td>
        <td class="num"></td>
        <td class="num danger">4</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>22SW51</td>
        <td>미티 자동차 쿠션보행기</td>
        <td class="num">16</td>
        <td class="num">1,600</td>
        <td class="num">6.3</td>
        <td class="num">10</td>
        <td class="num"></td>
        <td class="num danger">3.7</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>22PS65</td>
        <td>포켓몬스터 손잡이튜브65</td>
        <td class="num">8</td>
        <td class="num">800</td>
        <td class="num"></td>
        <td class="num">24.5</td>
        <td class="num">35</td>
        <td class="num danger">2</td>
        <td>N</td>
      </tr>
      <tr class="yellow">
        <td>525NLBTF</td>
        <td>나이비 LED 반짝이는 목욕놀이 떠다녀요 동물친구</td>
        <td class="num">60</td>
        <td class="num">6,000</td>
        <td class="num"></td>
        <td class="num">1</td>
        <td class="num"></td>
        <td class="num danger">1</td>
        <td>N</td>
      </tr>

      <!-- 하단(화이트/블루 강조) -->
      <tr>
        <td>525AS180B</td>
        <td>아라칸 아쿠아슈즈 180(B)</td>
        <td class="num">10</td>
        <td class="num">1,000</td>
        <td class="num"></td>
        <td class="num">1,100</td>
        <td class="num">1,100</td>
        <td class="num">0</td>
        <td>N</td>
      </tr>
      <tr>
        <td>225OW51</td>
        <td>뽀로로 자동차 쿠션보행기</td>
        <td class="num">8</td>
        <td class="num">800</td>
        <td class="num">159.8</td>
        <td class="num">230</td>
        <td class="num">130</td>
        <td class="num">0</td>
        <td>N</td>
      </tr>
      <tr>
        <td>525NB</td>
        <td>시나모롤 배낭물총</td>
        <td class="num">6</td>
        <td class="num">600</td>
        <td class="num">5,050</td>
        <td class="num">220</td>
        <td class="num">200</td>
        <td class="num">0</td>
        <td>N</td>
      </tr>
      <tr class="blue">
        <td>525AB190</td>
        <td>아라칸 크리스탈보트</td>
        <td class="num">4</td>
        <td class="num">400</td>
        <td class="num">1,637</td>
        <td class="num">152</td>
        <td class="num">32</td>
        <td class="num">0</td>
        <td>N</td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4" class="num">합계</td>
        <td class="num">6,859.9</td>
        <td class="num">2,478.5</td>
        <td class="num">1,799</td>
        <td class="num">438.9</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>